html {
  /* font sizes in vuetify are in rem units. To get the correct font size, the html tag has to have a font size of 
     * 16px */
  font-size: 16px;
}

:where(.vuetify-styles) div.v-application--wrap {
  /* disable min-height: 100vh set by vuetify */
  min-height: unset;
}

.vuetify-styles {
  /* Rules set on the html element in the vuetify styles are no longer applied after prefixing all selectors, so copy
     * them here. */
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  /* From _reset.scss */
  box-sizing: border-box;
}

/* fix for override from jp-ThemedContainer button */
button.v-btn--rounded {
  border-radius: 28px;
}
