*.egg-info/
.eggs/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
**/node_modules/

# generated code
generate_source/build
ipyvuetify/generated
js/src/generated

# Compiled javascript
ipyvuetify/labextension/
ipyvuetify/nbextension/
js/lib

# readthedocs
_build/

