*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
**/node_modules/
generate_source/build

# generated code
ipyvuetify/generated
js/lib/generated

# Compiled javascript
ipyvuetify/static/

# OS X
.DS_Store


.idea

notebooks
