{% block header %}
{% endblock %}
{% block imports %}
{% block globalimports %}
{% endblock %}
{% block localimports %}
{% endblock %}
{% endblock %}
{% block widgets %}
{% for widget in widgets %}
{% block widget %}
{% if widget.name === "VuetifyWidget" %}
import {
  DOMWidgetModel, unpack_models
} from '@jupyter-widgets/base';
{% else %}
{% if outputMultiple %}
{% for ref in widgets[0].localDependencies if ref !== "VuetifyWidgetModel" %}
import { {{ ref }}Model } from './{{ ref }}';
{% endfor %}
{% endif %}
{% endif %}

export
class {{ widget.name }}Model extends {{ widget.inherits[0] }}Model {

{% block widgetbody %}
  defaults() {
    return {...super.defaults(), ... {
      _model_name:  "{{ widget.name }}Model",
      {% if widget.properties %}
      {% for propName, prop in widget.properties %}
      {{ propName }}: {{ prop.default }},
      {% endfor %}
      {% endif %}
    }};
  }

  {% if widget.name !== "VuetifyWidget" %}
    getVuetifyTag() {
        return "v{{ widget.name | replace(r/([A-Z][a-z]+)/g, "-$1") | lower}}";
    }
  {% endif %}
{% endblock %}
}

{{ widget.name }}Model.serializers = {
    ...{{ widget.inherits[0] }}Model.serializers,
    {% for key, serializer in widget.serializers %}
    {{ key }}: {{ serializer }},
    {% endfor %}
};

{% endblock %}
{% endfor %}
{% endblock %}

