{% block header %}
{% endblock %}
{% block imports %}
{% block globalimports %}
from traitlets import (
    Unicode, Enum, Instance, Union, Float, Int, List, Tuple, Dict,
    Undefined, Bool, Any
)
from ipywidgets import Widget, DOMWidget
from ipywidgets.widgets.widget import widget_serialization
{% endblock %}
{% block localimports %}
{% if outputMultiple %}

{% for ref in widgets[0].localDependencies %}
from .{{ ref }} import {{ ref }}
{% endfor %}
{% endif %}
{% endblock %}
{% endblock %}
{% block widgets %}
{% for widget in widgets %}
{% block widget %}

{% if widget.name === "VuetifyWidget" %}
from ..Events import Events
{% endif %}

class {{ widget.name }}({{ widget.inherits | join(", ") }}{% if widget.name === "VuetifyWidget" %}, Events{% endif %}):

{% block widgetbody %}
    _model_name = Unicode('{{ widget.name }}Model').tag(sync=True)

    {% if widget.properties %}
    {% for propName, prop in widget.properties %}
    {{ propName }} = {{ prop.traitDef }}

    {% endfor %}
    {% else %}
    pass
    {% endif %}
{#
# Bug in traitlets, it doesn't set it, which triggers the bug fixed here:
# https://github.com/jupyter-widgets/ipywidgets/pull/1675
# which is not released yet (7.0.2 should have it)
#}
{% if widget.properties %}
{% for propName, prop in widget.properties %}
{% if 'List(None' in prop.traitDef %}
{{ widget.name }}.{{ propName }}.default_value=None
{% endif %}
{% endfor %}
{% endif %}

{% endblock %}


{% endblock %}
{% endfor %}
{% endblock %}
{% if outputMultiple %}
__all__ = ['{{ widgets[0].name }}']
{% else %}
__all__ = ['{{ modules | join("', '") }}']
{% endif %}